/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-boxs;
            box-sizing: border-boxs;
    /* 
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;

}

.logo img {
    width: 200px;
}

body {
    background: #333333;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#dd1818), to(#333333));
    background: -o-linear-gradient(left, #dd1818, #333333);
    background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat:no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 33px 9%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background: transparent;

}

.navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    -webkit-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid #fff;
}

.menu-container, .overlay-menu {
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
}


section {
    padding: 0 19%;
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}

.hero-text h1 {
    font-family: 'Italiana', serif;
    font-size: 90px;
    line-height: 1;
    color: #fff;
    margin: 0 0 45px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.hero-text p {
    color: #fff;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img {
    width: 700px;
    height: auto;
    margin-top: 200px;
    margin-right: 500px;
    /* margin-top: 220px; */
}

.hero-text a {
    display: inline-block;
    color: #fff;
    background: #530000;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid #fff;
}

.hero-text a.ctaa {
    background: transparent;
    border: 1px solid #fff;
    margin-left: 20px;
}

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 5px;
}
.hero-text a.ctaa:hover {
    background: #530000;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: #fff;
    -webkit-transition: all .50s ease;
    -o-transition: all .50s ease;
    transition: all .50s ease;
}

.icons i:hover {
    color: #530000;
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: #53000049;
    border-radius: 30px;
    -webkit-transition: all .50s ease;
    -o-transition: all .50s ease;
    transition: all .50s ease;
}

.scroll-down i:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}

@media (max-width: 1535px) {
    header {
        padding: 13px 3%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
    .icons {
        padding: 0 3%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
    .scroll-down {
        right: 3%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
}

@media(max-width: 1340px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }

    .hero-text h5 {
        margin-bottom: 25px;
    }
}

@media(max-width: 1195px) {
    section {
        padding: 0 3%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
    .hero-text {
        padding-top: 115px;
    }
    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 560px;
        height: auto;
        margin-right: 0;
        margin-top: 90px;
    }
    .hero {
        height: 100%;
        gap: 1rem;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .icons {
        display: none;
    }
    .scroll-down {
        display: none;
    }
}

@media(max-width: 990px) {
    .menu-container, .overlay-menu {
        display: block;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        background: #530000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 50px 20px;
        -webkit-transition: all .55s ease;
        -o-transition: all .55s ease;
        transition: all .55s ease;
    }
    .navlist a {
        display: block;
        margin-left: 0;
        margin: 7px 0;   
    }
    .navlist.open {
        right: 0;
    }
}

@media(max-width: 660px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }   
}

/* Mobile menu CSS */
.menu-container {
    color: white;
    cursor: pointer;
    position: absolute;
    width: 300px;
    height: 300px;
    right: -120px;
    top: -120px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.menu-container.full-menu {
    border-radius: 0;
    padding: 0 !important;
    position: aboslute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.full-menu .menu {
    top: 40px;
    right: 40px;
}
.menu {
    color: white;
    font-size: 3.5em;
    position: absolute;
    top: 105px;
    right: 160px;
    z-index: 100;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    
}
.menu i {
    opacity: 0.7;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 30px;
}
.menu i:hover {
    opacity: 1;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    background-color: rgb(88, 0, 0);
}
.overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    -webkit-animation: fadeInRight 0.5s ease forwards;
            animation: fadeInRight 0.5s ease forwards;
    -webkit-animation-delay: 0.35s;
            animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
.overlay nav {
    font-size: 3.2em;
    font-family: 'Titan One', san-serif;
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    opacity: 0.7;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.overlay ul li a:hover, .overlay ul li a:focus, .overlay ul li a:active {
    opacity: 1;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
   }
    100% {
        opacity: 1;
        left: 0;
   }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
   }
    100% {
        opacity: 1;
        left: 0;
   }
}

.blob {
    -webkit-animation: blobby 4s infinite;
            animation: blobby 4s infinite;
}
.blob2 {
    -webkit-animation: blobby2 6s infinite;
            animation: blobby2 6s infinite;
}
@-webkit-keyframes blobby {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
    50% {
        -webkit-transform: scale(1.08);
                transform: scale(1.08);
   }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
}
@keyframes blobby {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
    50% {
        -webkit-transform: scale(1.08);
                transform: scale(1.08);
   }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
}
@-webkit-keyframes blobby2 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
    50% {
        -webkit-transform: scale(1.18);
                transform: scale(1.18);
   }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
}
@keyframes blobby2 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
    50% {
        -webkit-transform: scale(1.18);
                transform: scale(1.18);
   }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
   }
}


@media all and (max-width: 980px) {
    h1 {
        font-size: 3em;
        font-family: 'Titan One', san-serif;
   }
}
@media all and (max-width: 480px) {
    h1 {
        font-size: 2em;
        font-family: 'Titan One', san-serif;
   }
}

.nav-active {
    background-color:#5f0101;
    -webkit-box-shadow: 5px -1px 12px -5px grey;
            box-shadow: 5px -1px 12px -5px grey;
}